<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alvin.mall.modules.pms.mapper.PmsProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alvin.mall.modules.pms.model.PmsProduct">
        <id column="id" property="id" />
        <result column="brand_id" property="brandId" />
        <result column="product_category_id" property="productCategoryId" />
        <result column="feight_template_id" property="feightTemplateId" />
        <result column="product_attribute_category_id" property="productAttributeCategoryId" />
        <result column="name" property="name" />
        <result column="pic" property="pic" />
        <result column="product_sn" property="productSn" />
        <result column="delete_status" property="deleteStatus" />
        <result column="publish_status" property="publishStatus" />
        <result column="new_status" property="newStatus" />
        <result column="recommand_status" property="recommandStatus" />
        <result column="verify_status" property="verifyStatus" />
        <result column="sort" property="sort" />
        <result column="sale" property="sale" />
        <result column="price" property="price" />
        <result column="promotion_price" property="promotionPrice" />
        <result column="gift_growth" property="giftGrowth" />
        <result column="gift_point" property="giftPoint" />
        <result column="use_point_limit" property="usePointLimit" />
        <result column="sub_title" property="subTitle" />
        <result column="description" property="description" />
        <result column="original_price" property="originalPrice" />
        <result column="stock" property="stock" />
        <result column="low_stock" property="lowStock" />
        <result column="unit" property="unit" />
        <result column="weight" property="weight" />
        <result column="preview_status" property="previewStatus" />
        <result column="service_ids" property="serviceIds" />
        <result column="keywords" property="keywords" />
        <result column="note" property="note" />
        <result column="album_pics" property="albumPics" />
        <result column="detail_title" property="detailTitle" />
        <result column="detail_desc" property="detailDesc" />
        <result column="detail_html" property="detailHtml" />
        <result column="detail_mobile_html" property="detailMobileHtml" />
        <result column="promotion_start_time" property="promotionStartTime" />
        <result column="promotion_end_time" property="promotionEndTime" />
        <result column="promotion_per_limit" property="promotionPerLimit" />
        <result column="promotion_type" property="promotionType" />
        <result column="brand_name" property="brandName" />
        <result column="product_category_name" property="productCategoryName" />
    </resultMap>

    <resultMap id="GetProductMap" extends="BaseResultMap" type="com.alvin.mall.dto.ProductDetailDTO" >
        <collection property="productAttributeValueList" columnPrefix="pav_" ofType="com.alvin.mall.dto.PmsProductAttributeValueDTO" >
            <id column="id" property="id" />
            <result column="product_id" property="productId" />
            <result column="product_attribute_id" property="productAttributeId" />
            <result column="value" property="value" />
            <result column="attr_ame" property="attrName" />
        </collection>
        <collection property="skuStockList" columnPrefix="ss_" resultMap="com.alvin.mall.modules.pms.mapper.PmsSkuStockMapper.BaseResultMap" />
    </resultMap>

    <select id="getProductDetail" resultMap="GetProductMap" >
        SELECT
            p.*,
            pc.parent_id AS cate_parent_id,
            pav.id AS pav_id,
            pav.product_attribute_id AS pav_product_attribute_id,
            pav.product_id AS pav_product_id,
            pav.`value` AS pav_value,
            ( SELECT ppa.`name` FROM pms_product_attribute AS ppa WHERE pav.product_attribute_id = ppa.id ) AS pav_attr_ame,
            ss.id AS ss_id,
            ss.lock_stock AS ss_lock_stock,
            ss.low_stock AS ss_low_stock,
            ss.pic AS ss_pic,
            ss.price AS ss_price,
            ss.product_id AS ss_product_id,
            ss.promotion_price AS ss_promotion_price,
            ss.sale AS ss_sale,
            ss.sku_code AS ss_sku_code,
            ss.sp1 AS ss_sp1,
            ss.sp2 AS ss_sp2,
            ss.sp3 AS ss_sp3,
            ss.stock AS ss_stock
        FROM
            pms_product AS p
                LEFT JOIN pms_product_category AS pc ON p.product_category_id = pc.id
                LEFT JOIN pms_product_attribute_value AS pav ON p.id = pav.product_id
                LEFT JOIN pms_sku_stock AS ss ON p.id = ss.product_id
        WHERE
            p.id = #{id}
    </select>
</mapper>
